<table class="pure-table pure-table-horizontal articles-table">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="article-row">
          <%= link_to(article.title, article_path(article), { class: "article-title" }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>