.pure-menu {
  background-color: #191818;
}

header {
  margin-bottom: 10px;
}

.articles-table {
  width: 100%;
}

.article-title {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  &:hover {
    background-color: azure;
  }
}

textarea {
  resize: vertical;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
