.pure-menu {
  background-color: #191818;
}

header {
  margin-bottom: 10px;
}

.articles-table {
  width: 100%;
}

.article-title {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  &:hover {
    background-color: #f8f8f8;
  }
}
