<header class="pure-menu pure-menu-horizontal">
  <a href="#" class="pure-menu-heading pure-menu-link">SUPPORT DESK APP</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <%= link_to('CREATE ARTICLE', new_article_path, { class: "pure-menu-link" }) %>
    </li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">FAVORITE</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">MY PAGE</a></li>
  </ul>
</header>